#App {
  min-height: 100vh;
  display: flex;
  background-image: url("./Pages/photo1.jpg");
  background-size: cover;
  background-position: center;
  background-color: lightgray;
}

.home {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  background-image: url("./Pages/photo.jpg");
  background-size: cover;
  background-position: center;
  background-color: lightgray;
}
